{% include 'studentheader .html'%}
<br><br><br><br>
<style type="text/css">
    .grid-container{
        align-content: center;
        display: grid;
        grid-template-coloumns: auto :
        grid-app: 15px;
        background-color:white;
        padding: 20px;
        margin-left: 30%;
        }
        .grid-item{
            border: 1px solid black;
            border-radius: 5px;
            padding : 20px;
            width: 50%;
         }
</style>
<body>
<form>
    <h1 align="center"><font color="blue" size="10px">My profile</font></h1>
    <div class="grid-container" align="center">
        {% for row in data['my']%}

        <div class="'grid-item" align="center">
            <h3 align="center"<b>Name:&nbsp;&nbsp;</b>{{row['firstname']}} {{row['lastname']}}</h3><br>
        <h5 align="center"><b>dob:&nbsp;&nbsp;</b>{{row['gender']}}</h5><br>
        <h5 align="center"><b>gender:&nbsp;&nbsp;</b>{{row['gender']}}</h5><br>
             <h5 align="center"><b>qualification:&nbsp;&nbsp;</b>{{row['gender']}}</h5><br>
             <h5 align="center"><b>phone:&nbsp;&nbsp;</b>{{row['gender']}}</h5><br>
             <h5 align="center"><b>email:&nbsp;&nbsp;</b>{{row['gender']}}</h5><br
            <a href="?action=update&id={{row['login_id']}}" class="btn btn-sm btn-info" style="width: 80px:
                    height: 35px; font-size: 15px;">Update</a>

        </div>
        {% endif %}
    </div>
</form>
</body>